In [4]:
from datetime import datetime

def log_datetime(func):
    def wrapper():
        print(f"function:{func.__name__} \nRun on {datetime.today()}")
        func()
    return wrapper

              
@log_datetime
def a():
    print("daily backup job finished")

In [5]:
a()

function:a
Run on 2022-11-28 06:06:14.377000
daily backup job finished

In [12]:
l1=[1,2,3,4,5,6,6]
l2=[]
odd_list = []
for i in range(0,len(l1)):
    e = str(l1[i])
    l2.append(e)
print(l2)

for i in range(0,len(l2)):
    if l2.count(l2[i])%2 != 0:
        odd_list.append(l2[i])
print(odd_list)

['1', '2', '3', '4', '5', '6', '6']
['1', '2', '3', '4', '5']

In [13]:
l1=[1,2,3,4,5,6,6]
odd_l=[]
for i in l1:
    if l1.count(i) % 2 != 0:
        odd_l.append(i)
print(odd_l)

[1, 2, 3, 4, 5]

In [15]:
l1=[10,20,30,40,50,60,70,80]
g_l= list()
for i in l1:
    if i <= 50:
        g_l.append(i)
        
print(g_l)

[10, 20, 30, 40, 50]

In [33]:
def Lowercase(func):
    def warapping_l():
        print("making lower case")
        e=func()
        string_casing = e.lower()
        return string_casing
    return warapping_l



def split_words(func):
    def wrap_split():
        print("we are aplitting")
        s = func()
        spliting_word = s.split()
        return spliting_word
    return wrap_split

In [38]:
@split_words
@Lowercase

def word():
    return "Hello worlds"

In [39]:
word()

we are aplitting
making lower case

['hello', 'worlds']

In [44]:
s_l = [10,20,60,30,20,40,30,60,70,80]
s_l1= list()

for i in s_l:
    if s_l.count(i) > 1 :
        s_l1.append(i)
print(list(set(s_l1)))

[20, 60, 30]

In [53]:
import collections
def greter():
    l1=[10,20,30,40,50,60,70,80]

    dupliactes=[]

    for item,count in collections.Counter(l1).items():
        if item<=50:
            dupliactes.append(item)
    return dupliactes

In [54]:
greter()

[10, 20, 30, 40, 50]

In [55]:
def outer(x,y):
    def inner(x,y):
        return x+y
    z = inner(x,y)
    return z+"developer"

outer("emma","kelly")

'emmakellydeveloper'

In [72]:
string = "maniteja"
for i in range(0,len(string),2):
    print(string[i],end=" .")

m .n .t .j .

In [59]:
for i in range(0,len(string)):
    if i%2 == 0:
        print(string[i], end =",")

m,n,t,j,

In [75]:
for i in range(1,31):
    for j in range(1,11):
        c=i*j
        print(c, end =" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

11 22 33 44 55 66 77 88 99 110

12 24 36 48 60 72 84 96 108 120

13 26 39 52 65 78 91 104 117 130

14 28 42 56 70 84 98 112 126 140

15 30 45 60 75 90 105 120 135 150

16 32 48 64 80 96 112 128 144 160

17 34 51 68 85 102 119 136 153 170

18 36 54 72 90 108 126 144 162 180

19 38 57 76 95 114 133 152 171 190

20 40 60 80 100 120 140 160 180 200

21 42 63 84 105 126 147 168 189 210

22 44 66 88 110 132 154 176 198 220

23 46 69 92 115 138 161 184 207 230

24 48 72 96 120 144 168 192 216 240

25 50 75 100 125 150 175 200 225 250

26 52 78 104 130 156 182 208 234 260

27 54 81 108 135 162 189 216 243 270

28 56 84 112 140 168 196 224 252 280

29 58 87 116 145 174 203 232 261 290

30 60 90 120 150 180 210 240 270 300

In [77]:
e = lambda x: x+15
print(e(5))

20

In [79]:
d = lambda x,y: x*y
print(d(3,5))

15

In [87]:
so = lambda x: sorted(x)
l = [(3, 't'), (2,'r'),(4,'x')]
so(l)

[(2, 'r'), (3, 't'), (4, 'x')]

In [89]:
l = [(3, 't'), (2,'r'),(4,'x')]
l.sort(key = lambda x: x[0])
print(l)

[(2, 'r'), (3, 't'), (4, 'x')]

In [99]:
import datetime
now= datetime.datetime.now()
print(now)
year = lambda x: x.year
month= lambda x: x.month
day= lambda x: x.day
time=lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2022-11-28 18:31:24.303000
2022
11
28
18:31:24.303000

In [100]:
def upper_elimanteduplicate():

<class 'IndentationError'>: expected an indented block after function definition on line 1 (<ipython-input-100-5584923a8f0d>, line 1)

In [109]:
l=[1,2,3,4,5,6,7,8,9]
even=len(list(filter(lambda x: x%2==0,l)))
odd=len(list(filter(lambda x: x%2 !=0, l)))
print(even)
print(odd)

4
5

In [110]:
def test(s):
    return str(s).upper(), str(s).lower()

chars=['a','E','N','c']

In [111]:
result=map(test,chars)

In [112]:
print(list(result))

[('A', 'a'), ('E', 'e'), ('N', 'n'), ('C', 'c')]

In [114]:
def square(a):
    return a**2

l4=[4,5,6,8]

In [115]:
result=map(square,l4)
print(list(result))

[16, 25, 36, 64]